.header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: gray;
    padding-top: 5vh;
    color: white;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

