.header {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-color: gray;
  padding-top: 3vh;
  padding-bottom: 3vh;
  color: white;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

.navbar a {
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.feed {
  width: 50vw;
  height: 100vw;
  background-color: aliceblue;
  margin-right: auto;
  margin-left: auto;
  position: center;
  -webkit-box-shadow: 10px 10px 19px -1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 10px 10px 19px -1px rgba(0, 0, 0, 0.3);
  box-shadow: 10px 10px 19px -1px rgba(0, 0, 0, 0.3);
}

.post {
  /* margin-top: 5vh; */
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-color: gainsboro;
}

.post h1 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.new-post-button {
  background-color: lightblue;
  border-radius: 50%;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
font-size: 40px;
  margin: 4px 2px;
}
