.header {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: gray;
    padding-top: 5vh;
    color: white;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
}

.feed {
    width: 50vw;
    height: 100vw;
    background-color: aliceblue;
    margin-right: auto;
    margin-left: auto;
    position: center;
}

.post {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    background-color: gainsboro;
}

.post h1 {
    text-align: center;
}